/php_test_db/.idea
/php_test_db/src/.idea/
/php_test_db/vendor/
/php_test_db/src/1_tmp/
/php_test_db/src/2_tmp/
/php_test_db/src/tmp
/php_test_db/src/log/
/php_test_db/48
/php_test_db/48#
/php_test_db/dz_9